<h3>New Scan</h3>
<%= form_for @scan do |f| %>
  Target Network (CIDR range):
  <%= f.text_field :targets, :required => true, :autofocus => true %><br />

  Frequency of Check (minutes):
  <%= f.text_field :frequency, :required => true, :disabled => true %><br />

  <%= f.submit %>
<% end %>
