
<h3>Welcome to NetDiffness</h3>

<% unless @scans %>
  <p> Please <%=link_to "Login", new_user_session_path %> to start using NetDiffness</p>
<% else %>
  <p> You have <%=link_to @scans.count, scans_path %> <%=  %> scans currently active </p>
<% end %>
